// main: style.sass

#menu
    background-color: #0B497C

    .content-block
        color: #ffffff
        margin-top: 10em

        img
            .fsh-icn
                width: 50%
                height: 50%

        i
            display: block
            padding: 1em
