.views .navbar:after {
    background: transparent;
}

.views .navbar-inner {
    background-color: #0B497C;
    color: white;
    padding: 1.5em;
}

.views .navbar-inner p {
    font-size: 1.4em;
    font-weight: 100;
}

.views .page-content {
    background-color: white;
}

.views .page-content h3 {
    display: flex;
}

#menu {
    background-color: #0B497C;
}

#menu .content-block {
    color: white;
    margin-top: 10em;
}

#menu .content-block img .fsh-icn {
    width: 50%;
    height: 50%;
}

#menu .content-block i {
    display: block;
    padding: 1em;
}

.fish {
    display: flex;
    padding: .5em 1em;
    background-color: lightblue;
    margin: 1em 0;
}

.fish img {
    display: block;
    width: 50%;
    height: 50%;
}

.fish p {
    color: #005B94;
    font-size: 1.35em;
    text-align: center;
    margin: 1.4em 1em;
}

form .row {
    padding: 1em  0;
    text-align: left;
    font-size: 1.5em;
    color: #0b497c;
    margin-right: .5em;
}

form .row textarea {
    font-size: 1em;
    color: #005b94;
    border: 1.5px solid #0b497c;
    border-radius: 2.5px;
}

form .row input {
    background-color: white;
    color: #005b94;
    font-size: 1em;
    border: 1.5px solid #0b497c;
    border-radius: 2.5px;
    padding: .25em 0 .25em .25em;
    width: 100%;
}

form .row ::placeholder {
    color: #005b94;
    font-size: 1em;
}

form .row .input {
    display: flex;
}

form .row .button {
    padding: 0;
    color: white;
    background-color: #0b497c;
    font-size: 1em;
}

form .row .yn {
    display: flex;
}

.poster_img img {
    width: 90%;
    padding: 1em 1.25em;
}

.row img {
    width: 100%;
    padding: .5em 0em;
}

.fish_img img {
    width: 90%;
    padding: 1em 1.25em;
}

.fish_names {
    color: #005B94;
    font-size: 1.5em;
    font-weight: 250;
    text-align: center;
}

.fish_info {
    color: #005B94;
    font-size: 1.2em;
    font-weight: 150;
    padding: .5em;
}

.aboutinfo {
    color: #005B94;
}

.floating-button {
    background-color: #005B94;
}

.floating-button .active-state {
    background-color: #005B94;
}

.speed-dial-buttons a {
    background-color: #005B94;
}

.speed-dial-buttons .active-state {
    background-color: #005B94;
}

.speed-dial-opened .floating-button {
    transform: rotate(45deg);
    transition: .1s;
}

.home img {
    margin-top: 2em;
    width: 90%;
    padding: 1em 1.25em;
}

.home p {
    font-size: 2.5em;
    text-align: center;
    color: #005B94;
}
