.views .navbar:after {
    background: transparent;
}

.views .navbar-inner {
    background-color: #019CDF;
    color: white;
    padding: 1.5em;
}

.views .navbar-inner p {
    font-size: 1.25em;
    font-weight: 100;
}

.views .page-content {
    background-color: white;
}

.views .subnavbar {
    background-color: #005B94;
    color: white;
    padding: 1.5em;
}

.views .subnavbar h3 {
    display: flex;
}

#menu {
    background-color: #0B497C;
}

#menu .content-block {
    color: white;
    margin-top: 10em;
}

#menu .content-block i {
    display: block;
    padding: 1em;
}
