.views .navbar:after {
    background: transparent;
}

.views .navbar-inner {
    background-color: #0b497c;
    color: #ffffff;
    padding: 1.5em;
}

.views .navbar-inner p {
    font-size: 1.1em;
    font-weight: normal;
}

.views .page-content {
    background-color: #ffffff;
}

.views .page-content h3 {
    display: flex;
}

.nav_icon svg {
    display: block;
    font-size: 1.5em;
    color: #ffffff;
}

#menu {
    background-color: #0b497c;
}

#menu .content-block {
    color: #ffffff;
    margin-top: 8em;
}

#menu .content-block div {
    font-size: 1.5em;
    font-weight: normal;
    color: white;
    padding: .5em;
    display: flex;
    align-items: center;
}

#menu .content-block svg {
    display: block;
    margin-right: 1em;
    width: 1.2em;
    height: 1.2em;
}

#menu .content-block img {
    margin-right: 1em;
    width: 1.2em;
    height: 1.2em;
}

* {
    box-sizing: border-box;
}

.fish {
    display: flex;
    padding: .5em 1em;
    background-color: #A4D7F2;
    margin: 0 0 1em;
    align-items: center;
}

.fish img {
    display: block;
    width: 50%;
}

.fish p {
    color: #005B94;
    font-size: 1em;
    flex: 1;
    text-align: center;
    margin: 1em 1em;
    font-weight: normal;
}

.fish .name {
    font-size: 1.2em;
    text-transform: uppercase;
}

.row img {
    width: 100%;
    padding: .5em 0em;
}

.fish_img img {
    width: 100%;
}

.fish_names {
    padding: .5em 0 1.5em 0;
    margin-bottom: 1em;
}

.fish_names .fname {
    color: #0b497c;
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-top: .5em;
    margin-bottom: .3em;
}

.fish_names .sname {
    font-style: italic;
    color: #A4D7F2;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.venom {
    color: #005B94;
    font-size: 1.1em;
    font-weight: normal;
    text-align: left;
    margin: 0;
}

.venomous {
    margin-bottom: 1em;
}

.fish_info {
    margin: 0;
    color: #005B94;
    font-weight: normal;
}

.fish_info .oname {
    margin: 0;
    font-size: 1.2em;
}

.fish_info .origin {
    text-align: left;
    margin: 0;
    margin-bottom: 1em;
    font-size: 1.1em;
}

.fish_info .iname {
    margin: 0;
    font-size: 1.2em;
}

.fish_info .info {
    margin: 0;
    font-size: 1.1em;
}

.page[data-page="index"] .page-content {
    background-color: #ffffff;
}

.home img {
    margin-top: 3em;
    width: 100%;
}

.home p {
    font-size: 2.5em;
    text-align: center;
    color: #005B94;
    font-weight: normal;
}

.aboutinfo {
    color: #005B94;
    font-size: 1.1em;
}

.aboutimg img {
    display: block;
    width: 100%;
}

.abouthead {
    color: #005B94;
    font-size: 2em;
    text-align: center;
}

.simg img {
    display: block;
    width: 100%;
}

.simg .uni {
    background-color: #A4D7F2;
}

.floating-button {
    background-color: #005B94;
}

.floating-button:hover, .floating-button:focus, .floating-button:active {
    background-color: #005B94;
}

.speed-dial-buttons a {
    background-color: #005B94;
}

.speed-dial-buttons .active-state {
    background-color: #005B94;
}

.speed-dial-opened .floating-button {
    transform: rotate(45deg);
    transition: background-color .1s ease-in-out;
}

.sd_btns {
    font-size: 1.75em;
    font-size-color: #ffffff;
}

.page[data-page="order_poster"] .page-content {
    background-color: #ffffff;
}

.page[data-page="send_report"] .page-content {
    background-color: #ffffff;
}

form .row {
    text-align: left;
    font-size: 1.5em;
    font-weight: normal;
    color: #0b497c;
    margin-bottom: .5em;
    margin-top: .5em;
}

form .row img {
    width: 100%;
    padding: .5em 0em;
}

form .row textarea {
    font-size: 1em;
    font-weight: 50;
    color: #005b94;
    border: 1.5px solid #0b497c;
    border-radius: 8px;
    width: 100%;
    padding: 0.5em;
}

form .row input {
    background-color: #ffffff;
    color: #005b94;
    font-size: 1em;
    font-weight: normal;
    border: none;
    border: 1.5px solid #0b497c;
    border-radius: 8px;
    padding: .25em 0 .25em .25em;
    width: 100%;
}

form .row ::placeholder {
    color: #005b94;
    font-size: 1em;
    font-weight: normal;
}

form .row i {
    display: block;
    padding: 1em;
}

form .row .radio {
    display: flex;
}

form .btn .button {
    border-radius: 10px;
    font-weight: normal;
    padding: 0;
    padding-bottom: 1em;
    color: #ffffff;
    background-color: #0b497c;
    font-size: 1.5em;
    width: 100%;
}

.pimg {
    width: 100%;
}
