table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
main{
  margin-top: 10px;

}

tr:nth-child(even) {
    background-color: #dddddd;
}
.titleheader{

  top:0;
  width:100%;
  background: #0B497C


}
.titletext{
  padding: 15px;
  color: #999999;
}
#addbtn{
  width:300px;
}

#addfish{
text-align: center;
padding-bottom: 10px;
}
.Fishcontainer{
  border-style: solid;
  padding:40px;
  margin-bottom: 10px;

}


.FishImage{
  display:block;
  padding-top: 30px;
  width: 100%;
}
.fishname{
  padding-top: 30px;
  padding-left: 60px;
}
.buttoncontainer{
  border-style: solid;
  padding:40px;
}
#menubutton{
padding: 15px;
float: right;

}
#fishbtn1{
  width:100%;

}
#fishbtn2{
  width:100%;
}
.editbutton{
  text-align: center;
  padding: 10px;

}
.deletebutton{
  text-align: center;
  padding:10px;
}
#postercontainer{
  margin: auto;
  padding-bottom: 20px;
}
#PosterImage{
  width:100%
}
#posterbtn1{
float:right;
width:200px;

}
#posterbtn2{
float:left;
width:200px;
text-decoration: none;
color: black;
background-color: lightgray;
}
#posterbackbtn{
float:left;
width:200px;
text-decoration: none;
color: black;
background-color: lightgray;
margin-bottom: 10px;
}
#aboutbtn{
margin-top: 30px;
width: 100px;
}
#posternametxt{
  padding-top:30px;
  padding-bottom: 10px;
  padding-left: 50px;
}
#postersurnametxt{
  padding-top:10px;
  padding-bottom: 15px;
  padding-left: 50px;
}
#postersubmitbtn{
  padding-top:5px;
  padding-bottom: 15px;
  padding-left: 50px;
}
#Sponsoraddbtn{
  width:300px;
}
#addsponsor{
  text-align: center;
  padding-bottom: 10px;
}
.sponsorcontainer{
  padding:10px;

}
.Sponsorbuttoncontainer{
padding-top: 30px;
}
.sponsorEditbtn{

  text-align: center;
  padding-top: 80px;
}
.sponsorDeletebtn{

  text-align: center;
  padding-top: 10px;
}
#sponsorbtn1{
  width:100%;
}
#sponsorbtn2{
  width:100%;
}
.lblfishconatiner{
text-align: center;
}
#lblfishname{
font-weight: bold;
padding-top: 10px;
}
.fishnamecontainer{
  padding-left:30px;
  padding-right:30px;
}
#fishnameeditbtn{
  width:100%;
}
.fishimageeditcontainer{
  padding-top: 130px;
  padding-left: 30px;
  padding-right: 30px;
}
#fishimageeditbtn{
  width: 100%;
}
.radiobuttoncontainer{
margin-top: 110px;
margin-left: 150px;
}
.savebtn{

  padding-top: 200px;
}
#formimage{
  width:50%;
}
