// main: style.sass
*
    box-sizing: border-box

.fish
    display: flex
    padding: .5em 1em
    background-color: #A4D7F2
    margin: 0 0 1em
    align-items: center

    img
        display: block
        width: 50%

    p
        color: #005B94
        font-size: 1em
        flex: 1
        text-align: center

        margin: 1em 1em
        font-weight: normal

    .name
        font-size: 1.2em
        text-transform: uppercase

.row
    img
        width: 100%
        padding: .5em 0em

.fish_img
    img
        width: 100%


.fish_names
    padding: .5em 0 1.5em 0
    margin-bottom: 1em
    .fname
        color: #0b497c
        font-size: 1.5em
        font-weight: 500
        text-transform: uppercase
        text-align: center
        margin: 0
        margin-top: .5em
        margin-bottom: .3em

    .sname
        font-style: italic
        color: #A4D7F2
        font-size: 1.1em
        font-weight: 500
        text-transform: uppercase
        text-align: center
        margin: 0


.venom
    color: #005B94
    font-size: 1.1em
    font-weight: normal
    text-align: left
    margin: 0
.venomous
    margin-bottom: 1em


.fish_info
    margin: 0
    color: #005B94

    font-weight: normal
    .oname
        margin: 0
        font-size: 1.2em
    .origin
        text-align: left
        margin: 0
        margin-bottom: 1em
        font-size: 1.1em
    .iname
        margin: 0
        font-size: 1.2em
    .info
        margin: 0
        font-size: 1.1em

.page[data-page="index"]
    .page-content
        background-color: #ffffff

.home
    img
        margin-top: 3em
        width: 100%


    p
        font-size: 2.5em
        text-align: center
        color: #005B94
        font-weight: normal

.aboutinfo
    color: #005B94
    font-size: 1.1em

.aboutimg
    img
        display: block
        width: 100%

.abouthead
    color: #005B94
    font-size: 2em
    text-align: center

.simg
    img
        display: block
        width: 100%
    .uni
        background-color: #A4D7F2
