// main: style.sass

.fish
    display: flex
    padding: .5em 1em
    background-color: #A4D7F2
    margin: 1em 0
    img
        display: block
        width: 50%
        height: 50%

    p
        color: #005B94
        font-size: 1.5em
        text-align: center
        margin: 1.4em 1em
        font-weight: 300

form
    .row
        padding: 1em  0
        text-align: left
        font-size: 1.5em
        color: #0b497c
        margin-right: .5em


        img
            width: 100%
            padding: .5em 0em

        textarea
            font-size: 1em
            color: #005b94
            border: 1.5px solid #0b497c
            border-radius: 2.5px

        input
            background-color: #ffffff
            color: #005b94
            font-size: 1em
            border: 1.5px solid #0b497c
            border-radius: 2.5px
            padding: .25em 0 .25em .25em
            width: 100%
        ::placeholder
            color:  #005b94
            font-size: 1em

        .input
            display: flex

        .button
            padding: 0
            color: #ffffff
            background-color: #0b497c
            font-size: 1em

        .radio
            display: flex

.poster_img
    img
        width: 90%
        padding: 1em 1.25em


.row
    img
        width: 100%
        padding: .5em 0em

.fish_img
    img
        width: 90%
        padding: 1em 1.25em

.fish_names
    color: #005B94
    font-size: 1.5em
    font-weight: 300
    text-align: center

.fish_info
    color: #005B94
    font-size: 1.2em
    font-weight: 300
    padding: .5em

.aboutinfo
    color: #005B94
    font-size: 1.2em


.home
    img
        margin-top: 2em
        width: 90%
        padding: 1em 1.25em

    p
        font-size: 2.5em
        text-align: center
        color: #005B94
        font-weight: 300
