// main: style.sass
*
    box-sizing: border-box

.fish
    display: flex
    padding: .5em 1em
    background-color: #A4D7F2
    margin: 0 0 1em

    img
        display: block
        width: 45%

    p
        color: #005B94
        font-size: 1em
        flex: 1
        text-align: center
        margin: 1em 1em
        font-weight: 300

    .name
        font-size: 1.2em



.poster_img
    img
        width: 90%
        padding: 1em 1.25em


.row
    img
        width: 100%
        padding: .5em 0em

.fish_img
    img
        width: 100%



.fish_names
    color: #005B94
    font-size: 1.5em
    font-weight: 300
    text-align: center

    .sname
        font-style: italic

.fish_info
    color: #005B94
    font-size: 1.2em
    font-weight: 300
    padding: .5em

    .origin
        text-align: center



.page[data-page="index"]
    .page-content
        background-color: #ffffff

.home
    img
        margin-top: 4em
        width: 90%
        padding: 1em 1.25em

    p
        font-size: 2.5em
        text-align: center
        color: #005B94
        font-weight: 300

.aboutinfo
    color: #005B94
    font-size: 1.1em

.aboutimg
    img
        display: block
        width: 100%

.abouthead
    color: #005B94
    font-size: 2em
    text-align: center

.simg
    img
        display: block
        width: 100%
    .uni
        background-color: #A4D7F2
